<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="cachedir" value="H:\"/>
    <add key="checkprograms" value="agent,bna,bnt,clnt,d3,d3cn,d3t,demo,hero,herot,hsb,hst,pro,prot,prodev,sc2,s2,s2t,s2b,test,storm,war3,wow,wowt,wow_beta"/>
    <add key="backupprograms" value="agent,bna,pro,prot,wow,wowt,wow_beta"/>
  </appSettings>
</configuration>